/*режем фотографии на слайдере */
.carousel-hidden {
	overflow:hidden;
	height: 364px;
}
/*новый well*/
.well {
	padding:8px;
	margin-bottom: 10px;
}

.row-fluid [class*="span"] {
	margin-left: 1.064102564102564%;
}

.row-fluid .span4 {
	width: 32.623931623931625%;
}

/* для картинки в категориях*/
.img_category {
    height: 205px;
    overflow:hidden;
}

/* для текстового блока под картинкой в категориях*/
.body_category {
    height: 65px;
    overflow:hidden;
}

/* заливка*/
.zalivka {
	clear:both;
	text-align: center;
    background-color: #0088CC;
	color: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	padding: 8px;
	font-size: 14px;
}

.zalivka a {
    text-decoration: none;
    color: #ffffff;
}

.zalivka2 {
	color: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	float:left;
	margin: 10px 0px 10px;
	font-size: 20px;
}

.blueborder {
border: solid #0088CC;
}

/*верхнее меню*/
.top-phone {
    font-size: 18px; padding-top: 10px;
}